[submodule "submodules/unitrack"]
	path = submodules/unitrack
	url = https://github.com/Zhongdao/UniTrack.git
	ignore = dirty
[submodule "submodules/mmpose"]
	path = submodules/mmpose
	url = https://github.com/open-mmlab/mmpose.git
[submodule "submodules/mmdet"]
	path = submodules/mmdet
	url = https://github.com/open-mmlab/mmdetection.git
[submodule "submodules/mmyolo"]
	path = submodules/mmyolo
	url = https://github.com/open-mmlab/mmyolo.git
[submodule "submodules/i3d"]
	path = submodules/i3d
	url = https://github.com/piergiaj/pytorch-i3d.git
