numpy
scipy
matplotlib
seaborn
tqdm
PyYAML
types-PyYAML

opencv-python
scikit-learn
torch==2.0.0+cu117
torchvision==0.15.0+cu117
tensorboard
pytorch-lightning
mmcv-full==1.6.1
mmdet
mmpose
umap-learn

black
flake8
mypy
isort

jupyter
jupyterlab
jupyterlab-vim
ipywidgets
