numpy
scipy
matplotlib
seaborn
tqdm
PyYAML
types-PyYAML

opencv-python
scikit-learn
torch==1.11.0+cu115
torchvision==0.12.0+cu115
tensorboard
pytorch-lightning==1.9.4
mmcv-full==1.6.1
mmdet
mmpose
umap-learn

black
flake8
mypy
isort

jupyter
jupyterlab
jupyterlab-vim
ipywidgets
